<header class="bg-purple text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="h3">RetinoPredict</h1>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a href="index.html" class="nav-link text-white">Home</a></li>
                <li class="nav-item"><a href="index.html#about" class="nav-link text-white">About</a></li>
                <li class="nav-item"><a href="index.html#knowledge-center" class="nav-link text-white">Knowledge
                        Center</a></li>
                <li class="nav-item"><a href="index.html#predict" class="nav-link text-white">Prediction</a></li>
                <li class="nav-item"><a href="facts.html" class="nav-link text-white">Global Trends</a></li>
                <li class="nav-item"><a href="glucose.html" class="nav-link text-white">Log Glucose</a></li>
                <li class="nav-item"><a href="food_calories.html" class="nav-link text-white">Caloriemeter</a></li>

            </ul>
        </nav>
    </div>
</header>